// Variables

// Max - widths Container

$sm: 320px;
$md: 750px;
$xl: 1100px;

// COLORS 

$white: #ffffff;
$black: #000000;
$c-black08: rgba(0,0,0,0.8);

$c-grey: #262626;
$c-grey09: rgba($c-grey,0.9);

$c-grey-l: #444444;

$red: #c65353;
// TYPOGRAPHY

$f-montserrat: 'Montserrat', sans-serif;
$f-open-sans: 'Open Sans', sans-serif;

// Spacers

$gutter: 15px;