body {
    margin: 120px 0 0 0;
    background-color: $black;
    overflow-x: hidden;
    color: $white;
    font-family: $f-open-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $f-montserrat;
    margin: 0;
    padding: 0;
}

figure,
ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: $white;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    border: none;
    background: transparent;

    &:focus {
        outline: none;
    }
}

.red-text {
    color: $red;
}

.main {
    filter: blur(0px);
    transition: 0.5s ease-in-out;
}

.blur {
    filter: blur(5px);
}

.page-title {
    font-weight: 100;
}

.info {
    display: flex;
    justify-content: space-between;

    .box {
        width: calc(50% - 10px);
    }
}


.grid {
    display: grid;
    grid-gap: $gap;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(400px, auto);

    // grid-template-rows: 400px;
    @include breakpoint(sm) {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(420px, auto);
        
            &--v1 {
                grid-column: span 1;
            }
        
            &--v2 {
                grid-column: span 2;
            }
    }

    @include breakpoint(xl) {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(450px, auto);
    }

}



.icon {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    cursor: pointer;
    // background-color: beige;
    font-size: 1px;
    text-indent: -99999px;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 5px;
        opacity: 0.4;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        // filter: brightness(100);
        transition: all 0.3s ease-in;
    }

    &:hover::after {
        opacity: 1;
    }
    &--fb,
    &--insta,
    &--pin {
        
    }

    &--fb {
        &::after {
            background-image: url('./../svg/fb.svg');
        }
    }

    &--insta {
        &::after {
            background-image: url('./../svg/insta.svg');
        }
    }

    &--pin {
        &::after {
            background-image: url('./../svg/pin.svg');
        }
    }
}


// LazyLoad

.lazy {
    opacity: 0;
    transition: all 0.5s ease-in;
    &.loaded {
        opacity: 1;
    }
}