body {
    margin: 120px 0 0 0;
    background-color: $black;
    overflow-x: hidden;
    color: $white;
    font-family: $f-open-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $f-montserrat;
    margin: 0;
    padding: 0;
}

figure,
ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: $white;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    border: none;
    background: transparent;

    &:focus {
        outline: none;
    }
}

.red-text {
    color: $red;
}

.main {
    filter: blur(0px);
    transition: 0.5s ease-in-out;
}

.blur {
    filter: blur(5px);
}

.page-title {
    font-weight: 100;
}

.info {
    display: flex;
    justify-content: space-between;

    .box {
        width: calc(50% - 10px);
    }
}

.grid {
    display: grid;
    grid-gap: $gap;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(400px, auto);

    @include breakpoint(sm) {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(420px, auto);
        
            &--v1 {
                grid-column: span 1;
            }
        
            &--v2 {
                grid-column: span 2;
            }
    }

    @include breakpoint(xl) {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(450px, auto);
    }

}




.no-scroll {
    height: 100%;
    overflow: hidden;
}


// LazyLoad
.lazy {
    opacity: 0;
    transition: all 0.5s ease-in;
    &.loaded { 
        opacity: 1;
    }
}

// Header Text hide
.hide-text {
    display: inline-block;
    opacity: 1;
    transition: all 0.3s ease-in;
    &.active {
        width: 0%;
        opacity: 0;
    };
}


//Filter checkboxes

input[type=checkbox].custom_checkbox {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
  
    
    &:checked + label {
        background-position: 0 -15px;
    }
    
    & + label {
        background-image:url('../img/lite-x-gray.png');
        padding-left:20px;
        height:15px; 
        display:inline-block;
        line-height:15px;
        background-repeat:no-repeat;
        background-position: 0 0;
        font-size:15px;
        vertical-align:middle;
        cursor:pointer;
    }
}
