.icon {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    cursor: pointer;
    font-size: 1px;
    text-indent: -99999px;
    a::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 5px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        pointer-events: all;
    }

    &--fb,
    &--insta,
    &--pin {
        a::after {
            opacity: 0.5;
        }
        &:hover a::after {
            animation: pulse 1.5s linear infinite;
        }

    }

    &--fb {
        a::after {
            background-image: url('./../svg/fb.svg');
        }
    }

    &--insta {
        a::after {
            background-image: url('./../svg/insta.svg');
        }
    }

    &--pin {
        a::after {
            background-image: url('./../svg/pin.svg');
        }
    }
}
