.wysiwyg {
    h1,h2,h3,h4,h5,h6 {
        margin: 0 0 20px 0;
    }
    p {
        line-height: 30px;
        margin: 0 0 10px 0;
    }

    a {
        position: relative;
        color: $black;
        transition: all 0.3s ease-in;
        &:hover, &:focus {
            color: $white;
            background-color: $c-grey;
        }
    }
}